<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/stylesheets/treinosSelecao.css">
    <title>BestFit - Executando Treino</title>
</head>

<body>

    <header class="header-execucao">
        <h1>Ficha <%=fichaTreinos[0].divisao %></h1>
        <div class="status-icon">
            <span class="material-symbols-outlined" onclick="confirmarSair()">
                exit_to_app
            </span>
        </div>
    </header>

    <div class="table-labels">
        <div class="col-ex">Exercicio</div>
        <div class="col-sm">serie</div>
        <div class="col-sm">rep</div>
        <div class="col-sm">Carga</div>
        <div style="width: 35px;"></div>
    </div>

    <main>
        <%fichaTreinos[0].treinos.forEach(treino=> { %>
            <a style="text-decoration: none; color: inherit;" href="/visualizarTreino">
                <div class="exercise-card-run">
                    <div class="col-ex"><%=treino.exercicio.exercicio_nome%></div>
                    <div class="col-sm"><%=treino.serie%></div>
                    <div class="col-sm"><%=treino.repeticoes%></div>
                    <div class="col-sm"><%=treino.carga%></div>
                    <div class="check-icon check-done">
                        <%if(treino.status_treino !=0) {%>
                            <span class="material-symbols-outlined">check_box</span>
                            <%} else{ %>
                                <span class="material-symbols-outlined">check_box_outline_blank</span>
                                <%} %>
                    </div>
                </div>
            </a>
            <% }) %>


                </div>
                </div>

                <button class="btn-finish-all">Finalizar todos</button>
    </main>

    <nav class="bottom-nav">
        <div class="nav-circle-item" style="width: 45px; height: 45px; position: absolute; left: 20px;">
            <div class="icon-label">
                <a href="/fichas" style="text-decoration: none; color: inherit;">
                    <span class="material-symbols-outlined">arrow_back</span>
                </a>
            </div>
        </div>

    
    </nav>

</body>
<script src="/javascripts/logout.js"></script>

</html>